html {
    font-family: 'Fira Sans', sans-serif;
    font-size: 20px;
    letter-spacing: 0.8px;
    min-height: 100vh;
    color: #d8e9ef;
    
}

body {
    background: linear-gradient(to bottom, #daf1de, #8eb69b, #235347,#163832, #0b2b26, #051f20);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: cover;
}

h1 {
    margin: 0 auto 10px auto;
    color: #d8e9ef;
}

p {
    margin: 0;
}

.app-message,
.app-container > h1,
.app-circle {
    position: relative;
    top: 30%;
}

.app-message {
    height: 20px;
    margin: 10px auto 20px auto;
}

.app-container {
    width: 250px;
    height: 420px;
    margin: 40px auto;
    text-align: center;
    border-radius: 5px;
    padding: 20px;
}

.app-circle{
    margin: 0 auto;
    width: 200px;
    height: 200px;
}

.circle-shape {
    pointer-events: none;
}



.border {
    top: 0;
    left: 0;
    border-radius: 100%;
    z-index: 1;
}



.circle {
    position: absolute;
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    border: solid 10px #8eb69b80;
}

.app-counter-box {
    font-family: 'Droid Sans Mono', monospace;
    font-size: 250%;
    position: relative;
    top: 50px;
    color: #d7e9ef;
}

button {
    position: relative;
    top: 50px;
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    background: none;
    outline: none;
    color: #d8e9ef;

}

button:hover {
    color: #90c0d1;
}


